<%- include('_header'); -%>

<main class="page-main page-<%= pageName %>">
   <h1 class="page-title u-mgb-sm">All Visa Applicants</h1>

   <% if (!allApplicants.length) { %>
      <p class="parag u-text-green">No applicants yet.</p>
   <% } %>
   <table class="page-admin-table u-full-width">
      <tbody>
         <% allApplicants.forEach(appl => { %>
            <tr>
               <td><%= appl.fullname %></td>
               <td><%= appl.passportNo %></td>
               <td><%= appl.nationality %></td>
               <td><%= appl.gender %></td>
               <td><%= appl.age %></td>
               <!-- <td><a class="btn btn-md btn-outline-white">See more details</a></td> -->
               <td class="u-text-green <%= appl.visaRejected && 'u-hidden' %>" data-notify="visa-granted">Visa granted</td>
               <td class="u-text-red <%= appl.visaGranted && 'u-hidden' %>" data-notify="visa-rejected">Visa rejected</td>
               <td>
                  <button 
                     class="btn btn-md btn-green" 
                     id="btn-grant-visa" 
                     data-applicant-passport-no="<%= appl.passportNo %>"
                     data-admin-token="<%= token %>">
                     Grant visa
                  </button>
               </td>
               <td>
                  <button 
                     class="btn btn-md btn-red" 
                     id="btn-reject-visa"
                     data-applicant-passport-no="<%= appl.passportNo %>"
                     data-admin-token="<%= token %>">
                     Reject visa
                  </button>
               </td>
            </tr>
         <% }) %>
      </tbody>
   </table>
   <div class="page-admin-overlay">
      <img src="./img/visa-img.jpg" class="page-admin-overlay-img u-d-block u-full-width" alt="">
   </div>
</main>
</body>
</html>